<div class="note">
    <div class="no-results">
        <div class="no-results__icon">
            <span class="icon-like"></span>
        </div>
        <div class="no-results__title">
            Todas tus notas están repasadas
        </div>
        <div class="no-results__description">
            En este momento, no encontramos notas pendientes
            de revisión. Esto puede deberse a que todavía no ha
            llegado el momento programado para la revisión de tus notas
        </div>
    </div>
</div>
