<div class="dashboard-page-centering">
    <div class="main-container" [ngClass]="{ 'loading-background-animation': areNotesLoading() }">
        <div #mobilePanelFixer class="mobile-panel-fixer-container">
            <div class="mobile-panel-background">

                <left-menu (activateManagementView)="activateManagementViewHandler($event)"/>

                <div id="panel">
                    <div #panelTopMargin></div>
                    <div class="panel__close-button-container">
                        <span (click)="closeMobilePanel()" class="icon-close panel__close-button"></span>
                    </div>

                    <div #stickyPanelContainer id="panel__sticky-container" class="panel-bottom-sticky">
                        <header-navigation
                            [showButtons]="openedSection() === 'notes'"
                            [mobile]="false" logoMode="light"/>

                        @switch (openedSection()) {
                            @case ('notes') {
                                <notes-management style="flex: 1"/>
                            }
                            @case ('account') {
                                <account-management style="flex: 1"/>
                            }
                        }

                        <div #panelCopyright class="panel__copyright">
                            <img src="assets/images/pakhmutov-light.svg" alt="Pakhmutov logo"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content" class="content">
            <div #contentMobileHeader class="content__mobile-header">
                <header-navigation
                    [mobile]="true"
                    logoMode="dark"
                    (openMobilePanel)="openMobilePanel()"/>
            </div>
            <div #notesContainer class="notes-container">
                @if (areNotesLoading()) {
                    <notes-loading-indicator/>
                }
                <router-outlet/>
            </div>
            <div class="content-copyright-container">
                <div class="copyright">
                    <img src="assets/images/pakhmutov-dark.svg"/>
                </div>
            </div>
        </div>
        <div class="decor-layer decor-layer--first"></div>
        <div class="decor-layer decor-layer--second"></div>
        <div class="decor-layer decor-layer--third"></div>
    </div>
</div>
