<div class="button-google button-google--green">
    <div class="icon-google">
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>
        <span class="path4"></span>
        <span class="path5"></span>
        <span class="path6"></span>
    </div>
    <button (click)="linkGoogle()">
        Enlazar con Google
    </button>
</div>
<div class="success-text mt5" *ngIf="successMessage()">{{ successMessage() }}</div>
<div class="error-text mt5" *ngIf="errorMessage()">{{ errorMessage() }}</div>
