<div class="left-menu">
    <div class="left-menu__sticky-container">
        <div class="left-menu__item">
            <div class="left-menu__item-title">Gestionar notas</div>
            <span class="left-menu__item-icon icon-note"></span>
        </div>
        <div class="left-menu__item">
            <div class="left-menu__item-title">Ajustes</div>
            <span class="left-menu__item-icon icon-account-settings"></span>
        </div>
        <div class="left-menu__item">
            <a href="https://github.com/pakhdev/braincrate-frontend" target="_blank">
                <div class="left-menu__item-title">Github</div>
                <span class="left-menu__item-icon icon-github"></span>
            </a>
        </div>
        <div class="left-menu__item" (click)="logout()">
            <div class="left-menu__item-title">Cerrar sesión</div>
            <span class="left-menu__item-icon icon-logout"></span>
        </div>
    </div>
</div>