<form
    (ngSubmit)="updatePassword()"
    [formGroup]="passwordUpdatingForm">
    <div class="user-settings__inputs">

        @if (showCurrentPasswordInput) {
            <input
                formControlName="currentPassword"
                type="password"
                placeholder="Contraseña actual"
                class="panel__text-input">
        }
        @if (hasError('currentPassword')) {
            <div errorMessage
                 [errors]="getError('currentPassword')"
                 class="auth__form-error"></div>
        }

        <input
            formControlName="newPassword"
            type="password"
            placeholder="Contraseña nueva"
            class="panel__text-input">
        @if (hasError('newPassword')) {
            <div errorMessage
                 [errors]="getError('newPassword')"
                 class="auth__form-error"></div>
        }

        <input
            formControlName="repeatNewPassword"
            type="password"
            placeholder="Confirmar contraseña"
            class="panel__text-input">
        @if (hasError('repeatNewPassword') || backendError()) {
            <div errorMessage
                 [errors]="getError('repeatNewPassword') || backendError()"
                 class="auth__form-error"></div>
        }

    </div>
    <button
        dynamicButtonText
        initialMessage="Guardar cambios"
        loadingMessage="Guardando..."
        successMessage="Contraseña actualizada"
        [errorState]="backendError()"
        [isLoading]="isLoading()"
        class="button button-success button-medium"></button>
</form>