<form
    (ngSubmit)="updatePassword()"
    [formGroup]="passwordUpdatingForm">
    <div class="user-settings__inputs">
        <input
            formControlName="currentPassword"
            type="password"
            placeholder="Contraseña actual"
            class="panel__text-input">
        <div
            errorMessage
            *ngIf="hasError('currentPassword')"
            [errors]="getError('currentPassword')"
            class="auth__form-error"></div>
        <input
            formControlName="newPassword"
            type="password"
            placeholder="Contraseña nueva"
            class="panel__text-input">
        <div
            errorMessage
            *ngIf="hasError('newPassword')"
            [errors]="getError('newPassword')"
            class="auth__form-error"></div>
        <input
            formControlName="repeatNewPassword"
            type="password"
            placeholder="Confirmar contraseña"
            class="panel__text-input">
        <div
            errorMessage
            *ngIf="hasError('repeatNewPassword')"
            [errors]="getError('repeatNewPassword')"
            class="auth__form-error"></div>
    </div>
    <button class="button button-success button-medium">
        Guardar cambios
    </button>
</form>