<div class="panel__input-with-icon">
    <input
        #searchTagsInput
        type="text"
        class="panel__text-input"
        placeholder="Buscar etiquetas"
        (keydown.enter)="searchTags()">
    <span class="icon-tag"></span>
</div>
<div class="panel__tags-container">
    <div
        *ngFor="let tag of selectedTags"
        (click)="unselectTag(tag.id)"
        class="panel__tag panel__tag--selected">{{ tag.name }}</div>
    <div
        *ngFor="let tag of notSelectedTags"
        (click)="selectTag(tag.id)"
        [ngStyle]="{ opacity: areTagsLoading ? 0.5 : 1 }"
        class="panel__tag">{{ tag.name }}</div>

    <welcome-tag *ngIf="showWelcomeTag()"/>
    <no-results-tag *ngIf="showNoResultsTag()"/>
</div>