<form
    (ngSubmit)="updateEmail()"
    [formGroup]="emailUpdatingForm">
    <div class="user-settings__inputs">
        <input
            formControlName="email"
            type="text"
            [value]="authService.currentUser()?.email"
            placeholder="Correo electrónico"
            class="panel__text-input">
        <div
            errorMessage
            *ngIf="hasError('email') || backendError()"
            [errors]="getError('email') || backendError()"
            class="auth__form-error"></div>
    </div>
    <button
        dynamicButtonText
        initialMessage="Guardar cambios"
        loadingMessage="Guardando..."
        successMessage="Correo actualizado"
        [errorState]="backendError()"
        [isLoading]="isLoading()"
        class="button button-success button-medium"></button>
</form>