<div class="note__toolbar">

    <div
        *ngIf="isNoteRemoved()"
        (click)="restore()"
        class="button note__restore-button">Restaurar ésta nota
    </div>

    <div
        *ngIf="showMarkAsReviewedButton()"
        (click)="markAsReviewed()"
        class="button button-success note__reviewed-button">
        Marcar como repasado
    </div>

    <div
        *ngIf="showDeleteInsteadReview()"
        (click)="remove()"
        class="button button-danger note__reviewed-button">
        Repasado, eliminar nota
    </div>

    <span
        *ngIf="!isNoteRemoved()"
        (click)="edit()"
        class="icon-edit"></span>
    <span
        *ngIf="!isNoteRemoved()"
        (click)="toggleRemoveConfirmation()"
        class="icon-delete"></span>
    <span
        *ngIf="!isNoteRemoved()"
        (click)="toggleReviewOptions()"
        class="icon-menu-dots"></span>
    <review-options
        [note]="note"
        [visible]="isReviewOptionsVisible()"/>
    <note-removal-prompt
        (removeNote)="remove()"
        (closeConfirmation)="toggleRemoveConfirmation()"
        [visible]="isRemoveConfirmationVisible()"/>
</div>