<div class="note__toolbar">

    <div
        *ngIf="isNoteRemoved()"
        (click)="restore()"
        dynamicButtonText
        initialMessage="Restaurar ésta nota"
        loadingMessage="Restaurando..."
        successMessage="Restaurada"
        [isLoading]="isRestoring()"
        class="button note__restore-button"></div>

    <div
        *ngIf="showMarkAsReviewedButton()"
        (click)="markAsReviewed()"
        dynamicButtonText
        initialMessage="Marcar como repasado"
        loadingMessage="Marcando..."
        successMessage="Marcada"
        [isLoading]="isMarkingReviewed()"
        class="button button-success note__reviewed-button"></div>

    <div
        *ngIf="showDeleteInsteadReview()"
        (click)="remove()"
        dynamicButtonText
        initialMessage="Repasado, eliminar nota"
        loadingMessage="Eliminando..."
        successMessage="Eliminada"
        [isLoading]="isDeleting()"
        class="button button-danger note__reviewed-button"></div>

    <span
        *ngIf="!isNoteRemoved()"
        (click)="edit()"
        class="icon-edit"></span>
    <span
        *ngIf="!isNoteRemoved()"
        (click)="toggleRemoveConfirmation()"
        class="icon-delete"></span>
    <span
        *ngIf="!isNoteRemoved()"
        (click)="toggleReviewOptions()"
        class="icon-menu-dots"></span>
    <review-options
        *ngIf="isReviewOptionsVisible()"
        @popup
        [note]="note"
        (clickOutside)="toggleReviewOptions()"/>
    <note-removal-prompt
        @popup
        *ngIf="isRemoveConfirmationVisible()"
        (removeNote)="remove()"
        (closeConfirmation)="toggleRemoveConfirmation()"
        (clickOutside)="toggleRemoveConfirmation()"/>
</div>