<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="auth__inputs">
        <input
            type="text"
            placeholder="Correo electrónico"
            formControlName="email"
            class="panel__text-input">
        <div
            errorMessage
            *ngIf="hasError('email')"
            [errors]="getError('email')"
            class="auth__form-error"></div>

        <input
            type="password"
            placeholder="Contraseña"
            formControlName="password"
            class="panel__text-input">
        <div
            errorMessage
            *ngIf="hasError('password')"
            [errors]="getError('password')"
            class="auth__form-error"></div>
    </div>
    <button
        class="button-auth button button-medium">
        Entrar
    </button>
    <div
        errorMessage
        *ngIf="backendError"
        [errors]="backendError"
        class="auth__form-error--server"></div>
</form>