<div class="note__review-popup">
    <div class="note__review-header">
        <div class="note__review-icon">
            <span class="icon-review"></span>
        </div>
        <div class="note__review-info">
            <b>Repasos</b>
            Realizados: {{ reviewsCount() }}<br>
        </div>
    </div>
    <div
        *ngIf="showCancelReviewsButton()"
        (click)="cancelReviews()"
        class="button-danger button">Cancelar repasos
    </div>
    <div
        *ngIf="showResetReviewsButton()"
        (click)="resetReviews()"
        class="button-warning button">Restablecer repasos
    </div>
    <div class="note__review-dates">
        Creada: {{ note.createdAt | date: 'dd.MM.yyyy' }}<br>
        Modificada: {{ note.updatedAt | date: 'dd.MM.yyyy' }}<br>
        Último repaso: {{ note.reviewedAt ? (note.reviewedAt | date: 'dd.MM.yyyy') : 'Nunca' }}<br>
    </div>
</div>