<div class="note__review-popup">
    <div class="note__review-header">
        <div class="note__review-icon">
            <span class="icon-review"></span>
        </div>
        <div class="note__review-info">
            <b>Repasos</b>
            Realizados: {{ reviewsCount() }}<br>
        </div>
    </div>

    @if (showCancelReviewsButton()) {
        <div
            (click)="cancelReviews()"
            dynamicButtonText
            initialMessage="Cancelar repasos"
            loadingMessage="Cancelando..."
            successMessage="Cancelados"
            [isLoading]="isCancelingReviews()"
            class="button-danger button"></div>
    }

    @if (showResetReviewsButton()) {
        <div
            (click)="resetReviews()"
            dynamicButtonText
            initialMessage="Restablecer repasos"
            loadingMessage="Restableciendo..."
            successMessage="Restablecidos"
            [isLoading]="isResettingReviews()"
            class="button-warning button"></div>
    }

    <div class="note__review-dates">
        Creada: {{ note.createdAt | date: 'dd.MM.yyyy' }}<br>
        Modificada: {{ note.updatedAt | date: 'dd.MM.yyyy' }}<br>
        Último repaso: {{ note.reviewedAt ? (note.reviewedAt | date: 'dd.MM.yyyy') : 'Nunca' }}<br>
    </div>
</div>