<div class="note">
    <div class="note__header">
        <div class="note__title">
            <a>{{ note.title }}</a>
        </div>
        <div class="note__header-toolbar-container">
            <note-view-toolbar [note]="note"/>
        </div>
    </div>
    <div class="note__content">{{ note.content }}</div>
    <div class="note__tags">{{ tags }}</div>
    <div class="note__footer">
        <div class="note__toolbar">
            <note-view-toolbar [note]="note"/>
        </div>
    </div>
</div>