<div class="user-settings">
    <div class="user-settings__email">
        <div class="panel__section-name">Su E-Mail</div>
        <form
            (ngSubmit)="updateEmail()"
            [formGroup]="emailUpdatingForm">
            <div class="user-settings__inputs">
                <input
                    formControlName="email"
                    type="text"
                    placeholder="Correo electrónico"
                    class="panel__text-input">
                <div
                    errorMessage
                    *ngIf="authService.showErrorMessage(emailUpdatingForm, 'email')"
                    [errors]="emailUpdatingForm.get('email')?.errors"
                    class="auth__form-error"></div>
            </div>
            <button class="button button-success button-medium">
                Guardar cambios
            </button>
        </form>
    </div>
    <div class="user-settings__password">
        <div class="panel__section-name">Cambiar la contraseña</div>
        <form
            (ngSubmit)="updatePassword()"
            [formGroup]="passwordUpdatingForm">
            <div class="user-settings__inputs">
                <input
                    formControlName="currentPassword"
                    type="password"
                    placeholder="Contraseña actual"
                    class="panel__text-input">
                <div
                    errorMessage
                    *ngIf="authService.showErrorMessage(passwordUpdatingForm, 'currentPassword')"
                    [errors]="passwordUpdatingForm.get('currentPassword')?.errors"
                    class="auth__form-error"></div>
                <input
                    formControlName="newPassword"
                    type="password"
                    placeholder="Contraseña nueva"
                    class="panel__text-input">
                <div
                    errorMessage
                    *ngIf="authService.showErrorMessage(passwordUpdatingForm, 'newPassword')"
                    [errors]="passwordUpdatingForm.get('newPassword')?.errors"
                    class="auth__form-error"></div>
                <input
                    formControlName="repeatNewPassword"
                    type="password"
                    placeholder="Confirmar contraseña"
                    class="panel__text-input">
                <div
                    errorMessage
                    *ngIf="authService.showErrorMessage(passwordUpdatingForm, 'repeatNewPassword')"
                    [errors]="passwordUpdatingForm.get('repeatNewPassword')?.errors"
                    class="auth__form-error"></div>
            </div>
            <button class="button button-success button-medium">
                Guardar cambios
            </button>
        </form>
    </div>
</div>
<div class="expander"></div>