<input
    #tagInputElement
    type="text"
    class="note-edition__tag-input"
    (keydown)="manageKeyPress($event)"
    [(ngModel)]="inputText"
    placeholder="añadir etiqueta">
@if (suggestedTags().length) {
    <div class="tag-suggestions">
        @for (tag of suggestedTags(); track $index) {
            <div class="tag-suggestions__item"
                 [ngClass]="{ 'tag-suggestions__item--selected': isSelectedSuggestion(tag.name) }"
                 (click)="selectSuggestion(tag.name)">{{ tag.name }}
            </div>
        }
    </div>
}

