<div class="note__review-popup" *ngIf="visible">
    <div class="note__review-header">
        <div class="note__review-icon">
            <span class="icon-review"></span>
        </div>
        <div class="note__review-info">
            <b>Repasos</b>
            Realizados: 2/5
        </div>
    </div>
    <div class="button-danger button">Cancelar repasos</div>
    <div class="button-warning button">Restablecer repasos</div>
    <div class="note__review-dates">
        Creada: 08.03.2023<br>
        Modificada: 09.03.2023<br>
        Último repaso: 17.03.2023<br>
    </div>
</div>