<form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="auth__inputs">

        <input
            type="text"
            placeholder="Correo electrónico"
            formControlName="email"
            class="panel__text-input">
        <div
            errorMessage
            *ngIf="hasError('email')"
            [errors]="getError('email')"
            class="auth__form-error"></div>

        <input
            type="password"
            placeholder="Contraseña"
            formControlName="password"
            class="panel__text-input">
        <div
            errorMessage
            *ngIf="hasError('password')"
            [errors]="getError('password')"
            class="auth__form-error"></div>

        <input
            type="password"
            placeholder="Confirmar contraseña"
            formControlName="repeatPassword"
            class="panel__text-input">
        <div
            errorMessage
            *ngIf="hasError('repeatPassword')"
            [errors]="getError('repeatPassword')"
            class="auth__form-error"></div>
    </div>
    <button
        dynamicButtonText
        initialMessage="Registrarse"
        loadingMessage="Registrando..."
        successMessage="Registrado"
        [errorState]="backendError()"
        [isLoading]="isLoading()"
        class="button button-success button-medium"></button>
    <div
        errorMessage
        *ngIf="backendError()"
        [errors]="backendError()"
        class="auth__form-error--server"></div>
</form>