<div class="auth__about">
    <h1>Sobre el proyecto</h1>
    <p>Mi proyecto es un ejemplo de mi código y una herramienta que me ayuda en mi día a día en el aprendizaje,
        inspirado en el sistema Zettelkasten de relacionar ideas y en el método de estudio de Alec Mace.
        Su objetivo es ofrecer una solución concreta a un desafío común: la gestión y organización efectiva de
        grandes
        volúmenes de información, transformándola en una fuente de conocimiento accesible y utilizable.</p>

    <p>Este proyecto se centra en convertir la información en un aliado invaluable, facilitando la memorización de
        nuevo
        material y la navegación cómoda en ella. En un mundo abrumado por datos, esta solución permitirá organizar y
        relacionar la información de manera eficaz. No se trata solo de almacenar datos, sino de convertirlos en
        conocimiento práctico.</p>
</div>