<div class="auth__about">
    <h1>Sobre el proyecto</h1>
    <p>Mi proyecto es una herramienta inspirada en el sistema Zettelkasten y el método de estudio de Alec Mace. Su
        objetivo es abordar el desafío de gestionar y organizar grandes volúmenes de información, convirtiéndola en
        conocimiento accesible. Se enfoca en hacer que la información sea un aliado valioso para la memorización y la
        navegación eficiente, transformando datos en conocimiento práctico en un mundo saturado de información.</p>
</div>