<div class="welcome note">
    <div class="welcome__header">
        <div class="note__title">
            <a>¡BIENVENIDO A TU PANEL DE CONTROL!</a>
        </div>
    </div>
    Parece que aún no has creado ninguna nota. Para comenzar a organizar tus ideas, toma el primer paso
    creando una nueva nota.
    Simplemente haz clic en el botón 'Crear Nota'.
    <div class="welcome__description-container">
        <div>
            <div class="review-settings-example">
                <div class="review-settings__options-header">
                    <div>Planes de repaso</div>
                    <div class="review-settings__option-green">Intervalos (días)</div>
                </div>
                <div class="review-settings__option-row">
                    <div class="review-settings__option-title">Repaso básico</div>
                    <div class="review-settings__option-value">1, 4, 7, 21</div>
                </div>
                <div class="review-settings__option-row review-settings__option-row--selected">
                    <div class="review-settings__option-title">Repaso estándar</div>
                    <div class="review-settings__option-value">1, 3, 7, 21, 60</div>
                </div>
                <div class="review-settings__option-row">
                    <div class="review-settings__option-title">Repaso intensivo</div>
                    <div class="review-settings__option-value">1, 3, 7, 21, 60, 90, 182</div>
                </div>
                <div class="review-settings__option-row">
                    <div class="review-settings__option-title">No repasar</div>
                    <div class="review-settings__option-value">Nunca</div>
                </div>
                <div class="review-settings__automatic-removing">
                    <label class="toggle">
                        <input type="checkbox" class="toggle-checkbox">
                        <div class="toggle-switch"></div>
                    </label>
                    <div class="review-settings__toggle-text">
                        Borrar ésta nota tras completar todos los repasos
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p class="welcome__description-paragraph">
                <b>Selecciona los planes de repasos</b>
                Para mejorar tu capacidad de memorización, ofrecemos tres opciones de planes
                de repaso: Básico, Estándar e Intensivo. Puedes seleccionar y ver los intervalos
                de días de repaso para cada plan al crear una nota. Elige el plan que mejor se
                adapte a la dificultad del material. También tienes la opción de no programar
                repasos.
            </p>
            <p class="welcome__description-paragraph">
                <b>Activa la eliminación al terminar los repasos</b>
                Cuando ingreses al menú de repasos, tendrás la opción de activar esta función.
                Al hacerlo, después de haber aprendido una nota, se eliminará automáticamente,
                garantizando que solo tengas en tus notas lo que realmente necesitas. No te
                preocupes, siempre podrás cambiar de opinión. Después de completar todos los
                repasos, en lugar del botón 'Marcar como repasado', verás el botón 'Repasado,
                eliminar nota'.
            </p>
        </div>
    </div>
    <div class="welcome__description-container">
        <div class="welcome__big-icon">
            <span class="icon-set-hidden"></span>
        </div>
        <div>
            <p class="welcome__description-paragraph">
                <b>Oculta las respuestas</b>
                En la barra de herramientas al crear una nota, encontrarás un botón en forma de un ojo.
                Utiliza este botón
                para ocultar la respuesta, lo que te permitirá acceder a ella solo cuando lo desees. Por
                ejemplo, si estás
                aprendiendo un nuevo idioma y deseas ocultar la traducción, este botón te resultará muy
                útil.
            </p>
        </div>
    </div>
</div>
