<div class="note-edition">
    <input
        [value]="title"
        type="text"
        class="note-edition__title"
        placeholder="Escriba aquí el titulo de la nota">

    <div class="note-edition__tags">
        <span class="icon-tag note-edition__tags-icon"></span>
        <selected-tag
            *ngFor="let tagName of tagNames"
            [tagName]="tagName"
            (onRemoveTag)="removeTag($event)"
        />
        <div class="note-edition__tag-input-container">
            <tag-input-with-suggestions
                [selectedTags]="tagNames"
                (onInsertTag)="insertTag($event)"/>
        </div>
    </div>
    <div class="editor-toolbar">
        <div class="editor-toolbar__icons" #iconsContainer></div>
        <div class="editor-toolbar__buttons">
            <div class="editor-toolbar__review-select-container">
                <review-plan-selector
                    [selectedDifficulty]="difficulty"
                    [removeAfterReviews]="removeAfterReviews"
                    (onDifficultyChange)="changeDifficulty($event)"
                    (onRemoveAfterReviewsChange)="changeRemoveAfterReviews($event)"
                />
            </div>
            <div class="button button-success note__editor-save">
                <span class="icon-save"></span>
                Guardar
            </div>
        </div>
    </div>
    <visual-content-editor [(ngModel)]="content" [iconsContainer]="iconsContainer"/>
</div>