<div class="note-edition">
    <input
        [(ngModel)]="title"
        type="text"
        class="note-edition__title"
        placeholder="Escriba aquí el titulo de la nota">

    <div class="note-edition__tags">
        <span class="icon-tag note-edition__tags-icon"></span>
        <selected-tag
            *ngFor="let tagName of tagNames"
            [tagName]="tagName"
            (onRemoveTag)="removeTag($event)"
        />
        <div class="note-edition__tag-input-container">
            <tag-input-with-suggestions
                [selectedTags]="tagNames"
                (onInsertTag)="insertTag($event)"/>
        </div>
    </div>

    <div class="editor-toolbar">
        <div class="editor-toolbar__icons" #iconsContainer></div>
        <div class="editor-toolbar__buttons">
            <div class="editor-toolbar__review-select-container">
                <review-plan-selector
                    [selectedDifficulty]="difficulty"
                    [removeAfterReviews]="removeAfterReviews"
                    (onDifficultyChange)="changeDifficulty($event)"
                    (onRemoveAfterReviewsChange)="changeRemoveAfterReviews($event)"
                />
            </div>
            <div
                (click)="saveNote()"
                dynamicButtonText
                initialMessage="<span class='icon-save'></span>Guardar"
                loadingMessage="Guardando..."
                successMessage="Guardado"
                [isLoading]="isLoading()"
                class="button button-success note__editor-save">
            </div>
        </div>
    </div>
    <div class="editor-content-container">
        <div class="note__editor-textarea"
             [(ngModel)]="content" [iconsContainer]="iconsContainer"
             contenteditable="true" spellcheck="false"></div>
    </div>
</div>